body{
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}
.red {
    background-color: rgb(172, 49, 137);
}
.yellow {
    background-color: rgb(191, 118, 45);
}
.green {
    background-color: rgb(42, 114, 170);
}
.purple {
    background-color: cornflowerblue;
}
.flash {
    background-color: white;
}
.userflash {
    background-color: green;
}
